addict
aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
asttokens
audioread
certifi
cffi
charset-normalizer
click
colorama
contourpy
crcmod
cryptography
cycler
decorator
decord
einops
exceptiongroup
executing
filelock
fonttools
fsspec
gitdb
GitPython
gpuinfo
h5py
huggingface-hub
idna
ipdb
ipython
jedi
Jinja2
jmespath
joblib
kiwisolver
lazy_loader
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
model-index
mpmath
msgpack
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-contrib-python
opencv-python
opendatalab
openmim
openxlab
ordered-set
oss2
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
rich
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
soundfile
soxr
stack-data
sympy
tabulate
threadpoolctl
timm==0.6.7
tomli
torch
torchaudio
torchvision
tqdm
traitlets
triton
tzdata
urllib3
wandb
wcwidth
yapf
